@page "/fetchdata"

@using ServerSideWebApp.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
<BlazorGrid Items="@forecasts" PageSize="4">
    <GridHeader>
        <th>Date</th>
        <th>TemperatureC</th>
        <th>TemperatureF</th>
        <th>Summary</th>
    </GridHeader>
    <GridRow Context="WeatherForecast">
        <td>@WeatherForecast.Date.ToShortDateString()</td>
        <td>@WeatherForecast.TemperatureC</td>
        <td>@WeatherForecast.TemperatureF</td>
        <td>@WeatherForecast.Summary</td>
    </GridRow>
</BlazorGrid>
}

@code {
    WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
